// bs5

@import"bootstrap";

// slick.js
@import "slick";
@import "slick-theme";

// 自尻css********************************************************
// layout----------------------------------------------

.wrap {
    height: 100%;
    background-image: url("../../images/icons9-team.png");
    background-size: cover;
    background-position: center;

    @include media-breakpoint-up(sm) {
        background-image: url("../../images/jess-bailey-UHqfUTDmdC4-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
}

// modle-----------------------------------------------
.pic {
    width: 96px;
    height: 96px;
}

.s-hover {
    transition: all .25s;
    cursor: pointer;

    &:hover {
        background-color: $secondary;
    }
}
.p-hover-light{
    transition: all .25s;
    cursor: pointer;

    &:hover {
        background-color: $p-light;
    }
}
.p-hover{
    transition: all .25s;
    cursor: pointer;

    &:hover {
        background-color: $primary;
    }
}
.text-hover{
    transition: all .25s;
    cursor: pointer;

    &:hover {
        color: $primary;
        font-weight: bold;
    }
}

// main----------------------------------------------



.slider {
    li{
        flex: 1 0 0%;
        .card {
            // margin: .5rem;
            height: 100%;
        }
    }
}
