// bs5

@import"bootstrap";

// 自尻css********************************************************
// layout----------------------------------------------

.wrap {
    height: 80vh;
    background-image: url("../../images/icons9-team.png");
    background-size: cover;
    background-position: center;

    @include media-breakpoint-up(sm) {
        height: 100vh;
        background-image: url("../../images/jess-bailey-UHqfUTDmdC4-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
}

// modle-----------------------------------------------
.pic {
    width: 96px;
    height: 96px;
}


// main----------------------------------------------
.news-cards {
    overflow-x: hidden;

    .card {
        // width: 30%;
        flex: 1 0 0;
        margin-right: 1.5rem;

        @include media-breakpoint-up(sm) {
            flex: 0 0 48%;
        }

        @include media-breakpoint-up(xxl) {
            flex: 0 0 30%;
        }
    }
}