// bs5

@import"bootstrap";

// 自尻css********************************************************
// layout
// main
.wrap{
    height: 100vh;
    background-image: url("../../images/jess-bailey-UHqfUTDmdC4-unsplash.jpg");
    background-size: cover;
    background-position: center;
}